.custom-select-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.custom-select {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/%3e%3c/svg%3e');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 12px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #323232;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.custom-select__is-invalid {
  border-color: red !important;
  padding-right: calc(1.5em + 1rem) !important;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 2px 4px rgba(58, 43, 159, 0.20);
}

.custom-select__trigger {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 0px;
  padding-right: 24px;
}

.custom-placeholder {
  color: #6c757d;
  background-color: transparent;
  padding-right: 26px;
}

.custom-select.disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
  border-color: #ddd;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 1rem;
  z-index: 100;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-options::-webkit-scrollbar {
  display: none;
}

.custom-options.open {
  display: block;
}

.custom-option {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #f1f1f1;
}

.custom-option:hover {
  background-color: #f1f1f1;
}

.custom-option.selected {
  background-color: #0f0f0f;
  color: white;
  font-weight: 600;
}

.custom-search {
  position: sticky;
  top: 0;
}

.custom-select-search-input {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23343a40" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3e%3ccircle cx="11" cy="11" r="8"/%3e%3cline x1="21" y1="21" x2="16.65" y2="16.65"/%3e%3c/svg%3e');
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: #f8f9fa;
  border: none;
  border-bottom: 1px solid #6c757d;
  color: #323232;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.custom-select-search-input:focus {
  outline: none;
  box-shadow: 0 0 2px 4px rgba(58, 43, 159, 0.20);
}

.pagination-items {
  justify-content: space-between;
  display: flex;
}

@media (max-width: 767px) {
  .pagination-items {
    justify-content: center !important;
  }
}

.table-pagination .custom-select {
  padding: 0;
  width: 60px;
  height: 30px;
  min-width: 60px;
  min-height: 30px;
  background-color: #e9ecef;
  outline: none;
  box-shadow: none;
}

.table-pagination .custom-select:focus {
  outline: none;
  box-shadow: none;
}

.table-pagination .custom-select__trigger {
  padding-top: 0px;
  padding-left: 0px;
}

.table-pagination .custom-select-wrapper .custom-options {
  bottom: 105%;
  top: auto;
}
