.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1.5rem;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  overflow-y: auto;
  min-height: 100%;
  height: calc(100vh - 29.613rem);
  position: relative;
  flex-grow: 1;
  overflow-y: scroll;
}

.table-wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.table-wrapper::-webkit-scrollbar { 
	display: none;
}
.svg-icon {
	fill: #fff;
}
.table-wrapper.loading-active {
  pointer-events: none;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
}

th, td {
  padding: 0.50rem 1rem;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0f0f0f;
  font-weight: 600;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  padding: 1rem 1rem;
  cursor: pointer;
}

th:first-child {
  border-radius: 10px 0 0 10px;
}

th:last-child {
  border-radius: 0 10px 10px 0;
}

th.sortable:hover {
  background-color: #e9ecef;
}

tr {
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

tr:hover {
  background-color: #ececec;
}

.table-row {
  width: fit-content;
}

.table-row.expanded {
  background-color: #ececec;
}

.table-row td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-row td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-row.expanded td:first-child {
  border-bottom-left-radius: 0 !important;
}

.table-row.expanded td:last-child {
  border-bottom-right-radius: 0 !important;
}


.table-actions {
  text-align: center;
}

.table-search--wrapper {
  position: relative;
}

.table-search--container {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  transition: width 0.3s ease;
  position: absolute;
  top: -18px;
  height: 40px;
}

.table-search--container.expanded {
  width: 200px;
}

.table-search--input {
  width: 100%;
  padding: 0px 40px 0px 10px;
  height: 40px !important;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.loading-overlay {
  position: relative;
	left: 50%;
	transform: translate(200%, -25%);
  width: 100%;
	min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 600;
  overflow: hidden !important;
}

.detail-row {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  opacity: 0;
}

.detail-row.expanded {
  transition: all 0.5s;
  max-height: 500px;
  opacity: 1;
}

.detail-content {
  padding: 1rem;
  border-radius: 20px;
}

.search-icon {
  pointer-events: none;
  z-index: 1;
}

.svg-icon {
  width: 1em;
  height: 1em;
}
.striped-row {
  border-bottom: 1px solid #ccc;
}
.form-check-input {
  margin-top: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-25 {
  top: 25%;
}

.top-50 {
  top: 50%;
}

.gap-1 {
  gap: 0.25rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}
.d-flex{
	display: flex;
}

.custom-check-input {
	appearance: none;
	width: 18px;
	height: 18px;
	border: 2px solid #ced4da;
	background-color: #ffffff;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	top: 5px;
}
.custom-check-input:checked {
	background-color: #ffffff;
	border-color: #ced4da;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.custom-check-input:indeterminate {
	background-color: #000000;
	border-color: #ced4da;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><line x1='5' y1='10' x2='15' y2='10' stroke='%23fff' stroke-width='3' stroke-linecap='round'/></svg>");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}


 .custom-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.no-records {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #777;
}
.status-active{
	background-color: #dafddf;
	color: #00d620;
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 600;
}
.status-passive{
	background-color: #ffd9db;
	color: #ff000d;
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 600;
}
.status-pending{
	background-color: #fbffd8;
	color: #d9c700;
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 600;
}

.table-detail-animate {
  animation: fadeInRow 0.25s ease-in-out;
}

@keyframes fadeInRow {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}



.bg-transparent{
	background-color: transparent;
}
.border-none{
	border: none;
}
.p-0{
	padding: 0px;
}
.m-0 {
	margin: 0px;
}

.gap-2{
	gap: 0.5rem;
}
.gap-4{
	gap: 1rem;
}
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.align-items-center{
	align-items: center;
}
.flex-wrap{
	flex-wrap: wrap;
}
.text-primary{
	color: #0f0f0f;
}
.cursor-pointer{
	cursor: pointer;
}
